%a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
  = Book::SORTING_LIST[@order_param&.to_sym]
  %i.fa.fa-angle-down.dropdown-icon.pull-right
%ul.dropdown-menu
  - Book::SORTING_LIST.each do |sort_index, sort_name|
    %li
      = link_to sort_name, books_path(category_id: params[:category_id], sort_by: sort_index)

