
.col-xs-5.col-md-3
    .input-group.general-position
        %a.input-link{href: "#"}
            %i.fa.fa-minus.line-height-40{ onclick: "decrementQuantity(#{@presenter_book.book.price});" }
        %input.form-control.quantity-input{type: "text", value:'1',id: 'quantity_input'}
        %a.input-link{href: "#"}
            %i.fa.fa-plus.line-height-40{ onclick: "incrementQuantity(#{@presenter_book.book.price});" }
.col-xs-7.col-md-5
    %button.btn.btn-default.pull-right.general-position= t('cart.block.add_to_cart')
