.general-message-wrap.divider-lg
    .clearfix
        %span.img-circle.logo-size.inlide-block.pull-left.logo-empty
        .ml-70
            %div
                .general-message-date.hidden-xs= t('review_block.date')
                .max-240
                    .general-message-verified.pull-right= t('review_block.label_verify')
                    .general-message-name= t('review_block.some_name')
            .mb-15
                %i.fa.fa-star.rate-star
                %i.fa.fa-star.rate-star
                %i.fa.fa-star.rate-star
                %i.fa.fa-star.rate-star
                %i.fa.fa-star.rate-star.rate-empty
            %p= t('review_block.some_1')
