.general-info-wrap.divider-lg#short_description
    %p= t("book.description")
    %p.lead.small.line-height-2
        = truncate(@book.description, length: Book::DESCRIPTION_LIMIT)
        - if @book.description.size > Book::DESCRIPTION_LIMIT
            = link_to t('book.read_more'), @book, class: 'in-gold-500 ml-10', remote: true

