%tr
  %td
    .form-group.radio.mt-0.mb-0
      %label.radio-label
        %input.radio-input{type: "radio", hidden: "true"}
        %span.radio-icon
        %span.radio-text Delivery Next Day!
  %td
    %span 3 to 7 days
  %td
    %span.font-16.in-gold-500 €28.50
