%tr
  %td
    .form-group.radio.mt-0.mb-0
      %label.radio-label
        = form.radio_button :delivery_id, delivery.id, class: 'radio-input', hidden: true,checked: order.checked_delivery(delivery.id)
        %span.radio-icon
        %span.radio-text= delivery.method_name
  %td
    %span= t('checkout.delivery.from') + delivery.from_time + t('checkout.delivery.to') + delivery.to_time
  %td
    %span.font-16.in-gold-500=number_to_currency(delivery.price,unit: '€')
